<tr>
    <td
        style="font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;padding:20px 20px">
        <p style="color:#000000; margin-top: 0px;"><b>Hi {{fullName}}</b></p>

        <p style="color: #222222;">You have successfully registered. Future login attempts will require the following
            credentials below.</p>
        <p style=" margin-top: 0px; margin-bottom: 2px;">
            <label style="display:inline-block; width:55px;"> Email: </label><b style="color: #1155cc;">{{email}}</b>
        </p>
        <p style=" margin-top: 0px; margin-bottom: 2px;">
            <label style="display:inline-block; width:75px;"> Password: </label><b
                style="color: #1155cc;">{{password}}</b>
        </p>
        <div style="height:5px;"></div>
    </td>
</tr>
<tr>
    <td
        style="font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;padding:15px 20px 25px">
        <p style="color: #222222; margin: 0px"> Regards,</p>
        <p style="color: #222222; margin: 0px">Admin Panle</p>
    </td>
</tr>
</tbody>
</table>
</td>
</tr>